<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #c86d6d;
            height: 2000px;
        }
    </style>
</head>
<body>
    <div id="img"></div>    
    <input type="text">
    <input type="file" class="ipt">
    <img class="icon" src="" alt="">
    <!-- <script src="../service/1变量提升.js"></script> -->
    <script src="../module/moment.js"></script>
    <!-- <script src="../service//38mutationObserver.js"></script> -->
    <!-- <script src="../principle/函数柯里化.js"></script> -->
    <!-- <script src="../service/34异步编程.js" type="module"></script> -->
    <script src="../designPattern/行为型模式/观察者模式.js"></script>
    <!-- <script src="../dist/Kenson-utils.js"></script>
    <script>
        console.log(kutils);
        kutils.axios.get('https://restapi.amap.com/v3/weather/weatherInfo?key=767311c5893e14831b1ac4e5dec435b7&city=440106').then(res => {
            console.log(res);
        }).catch(err => {
            console.log(err);
        })
    </script> -->
</body>
</html>