<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #c86d6d;
            height: 2000px;
        }
    </style>
</head>
<body>
    <div id="img"></div>
    <input type="text">
    <!-- <script src="../service/1变量提升.js"></script> -->
    <script src="../module/moment.js"></script>
    <!-- <script src="../service/34异步编程.js"></script> -->
    <!-- <script src="../service/34异步编程.js" type="module"></script> -->
    <script src="../principle/删除数组元素.js"></script>
</body>
</html>